<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_general.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,229}</string>
                <key>spriteSourceSize</key>
                <string>{186,229}</string>
                <key>textureRect</key>
                <string>{{0,0},{186,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_happy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,229}</string>
                <key>spriteSourceSize</key>
                <string>{186,229}</string>
                <key>textureRect</key>
                <string>{{186,0},{186,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_mi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,229}</string>
                <key>spriteSourceSize</key>
                <string>{186,229}</string>
                <key>textureRect</key>
                <string>{{372,0},{186,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cat.png</string>
            <key>size</key>
            <string>{558,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:310ff6007028b861e85b7f4105771a5d:1b4ce152a9406b631984dfda8797f33f:fcaa38ab3073044ae7fc86ca051af0c0$</string>
            <key>textureFileName</key>
            <string>cat.png</string>
        </dict>
    </dict>
</plist>
