<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>general.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,199}</string>
                <key>spriteSourceSize</key>
                <string>{172,199}</string>
                <key>textureRect</key>
                <string>{{0,0},{172,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>happy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,198}</string>
                <key>spriteSourceSize</key>
                <string>{172,198}</string>
                <key>textureRect</key>
                <string>{{0,199},{172,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,198}</string>
                <key>spriteSourceSize</key>
                <string>{172,198}</string>
                <key>textureRect</key>
                <string>{{0,397},{172,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,198}</string>
                <key>spriteSourceSize</key>
                <string>{172,198}</string>
                <key>textureRect</key>
                <string>{{0,595},{172,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialog_player.png</string>
            <key>size</key>
            <string>{172,793}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83d10a215956e6f5a4a79413a6bf77b7:11f1ea654f297a42b7b3b488e8ac93ef:24e85573fc530d20ddb08621095c0549$</string>
            <key>textureFileName</key>
            <string>dialog_player.png</string>
        </dict>
    </dict>
</plist>
