<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,112}</string>
                <key>spriteSourceSize</key>
                <string>{199,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{199,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,112}</string>
                <key>spriteSourceSize</key>
                <string>{199,112}</string>
                <key>textureRect</key>
                <string>{{199,0},{199,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,102}</string>
                <key>spriteSourceSize</key>
                <string>{594,102}</string>
                <key>textureRect</key>
                <string>{{398,0},{594,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inputName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,53}</string>
                <key>spriteSourceSize</key>
                <string>{352,53}</string>
                <key>textureRect</key>
                <string>{{992,0},{352,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginUI.png</string>
            <key>size</key>
            <string>{1344,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c1a2f6e88d4adb6e40367015cd7ac56:64123fdc4b895b041342594926c85ddc:e4b8325048109e3c9950577f7e75bb4d$</string>
            <key>textureFileName</key>
            <string>loginUI.png</string>
        </dict>
    </dict>
</plist>
