<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>checkButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,86}</string>
                <key>spriteSourceSize</key>
                <string>{181,86}</string>
                <key>textureRect</key>
                <string>{{169,0},{181,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,2}</string>
                <key>spriteSourceSize</key>
                <string>{667,2}</string>
                <key>textureRect</key>
                <string>{{0,399},{667,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectCat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,110}</string>
                <key>spriteSourceSize</key>
                <string>{169,110}</string>
                <key>textureRect</key>
                <string>{{0,0},{169,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{350,0},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,193}</string>
                <key>spriteSourceSize</key>
                <string>{645,193}</string>
                <key>textureRect</key>
                <string>{{0,206},{645,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>check.png</string>
            <key>size</key>
            <string>{667,401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:192b64cd95a79505d8c3b2fbef59db69:8cc8a46b1a0ccd31d0d051fb398d3960:94c1aa299819d7f9e85bf81b2698bcce$</string>
            <key>textureFileName</key>
            <string>check.png</string>
        </dict>
    </dict>
</plist>
