<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,119}</string>
                <key>spriteSourceSize</key>
                <string>{142,119}</string>
                <key>textureRect</key>
                <string>{{81,0},{142,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,110}</string>
                <key>spriteSourceSize</key>
                <string>{93,110}</string>
                <key>textureRect</key>
                <string>{{223,0},{93,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_button_touched.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,110}</string>
                <key>spriteSourceSize</key>
                <string>{93,110}</string>
                <key>textureRect</key>
                <string>{{316,0},{93,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>surprise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{409,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{489,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{569,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cc7dc0ccc100e124adc449c730aafcb:457b69cadc573ae1fa2f84161143b8cc:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
