<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,326}</string>
                <key>spriteSourceSize</key>
                <string>{189,326}</string>
                <key>textureRect</key>
                <string>{{0,636},{189,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,319}</string>
                <key>spriteSourceSize</key>
                <string>{189,319}</string>
                <key>textureRect</key>
                <string>{{0,317},{189,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,317}</string>
                <key>spriteSourceSize</key>
                <string>{189,317}</string>
                <key>textureRect</key>
                <string>{{190,0},{189,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,327}</string>
                <key>spriteSourceSize</key>
                <string>{189,327}</string>
                <key>textureRect</key>
                <string>{{189,636},{189,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,319}</string>
                <key>spriteSourceSize</key>
                <string>{189,319}</string>
                <key>textureRect</key>
                <string>{{189,317},{189,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,316}</string>
                <key>spriteSourceSize</key>
                <string>{190,316}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{379,963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c0545ba6f93ad840f2cf12f633b4a5c:d7c9f949917363f9a9bba2b88180acf1:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
