<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,203}</string>
                <key>spriteSourceSize</key>
                <string>{295,203}</string>
                <key>textureRect</key>
                <string>{{0,0},{295,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,174}</string>
                <key>spriteSourceSize</key>
                <string>{286,174}</string>
                <key>textureRect</key>
                <string>{{0,203},{286,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,153}</string>
                <key>spriteSourceSize</key>
                <string>{299,153}</string>
                <key>textureRect</key>
                <string>{{0,377},{299,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,198}</string>
                <key>spriteSourceSize</key>
                <string>{294,198}</string>
                <key>textureRect</key>
                <string>{{0,530},{294,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,190}</string>
                <key>spriteSourceSize</key>
                <string>{298,190}</string>
                <key>textureRect</key>
                <string>{{0,728},{298,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_cat.png</string>
            <key>size</key>
            <string>{299,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31a337d5c92102ca85757c8c07751be9:e7a3ff2c528a157a55b06929fa1dbfd3:93ab8441b1ad692ff07395c3ce8f0818$</string>
            <key>textureFileName</key>
            <string>run_cat.png</string>
        </dict>
    </dict>
</plist>
