<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{0,0},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{214,0},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{428,0},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{642,0},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{856,0},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1070,0},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1284,0},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1498,0},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{1712,0},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hrd_squares.png</string>
            <key>size</key>
            <string>{1926,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aee2f6d31b1b24bec16e6c10f106e4b:6ddd233dd00d02bffe3a5fd2c3e797bd:8848d480497f2a4f6cc89f9ed82fb948$</string>
            <key>textureFileName</key>
            <string>hrd_squares.png</string>
        </dict>
    </dict>
</plist>
